<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>疗愈属性</title>
		<link rel="stylesheet" href="../css/element-ui.min.css">
		<style>
			.tb-edit .el-input {
				display: none
			}
			
			.tb-edit .current-row .el-input {
				display: block
			}
			
			.tb-edit .current-row .el-input+span {
				display: none
			}
			
			.tb-edit .current-row .diess {
				display: none
			}
			[v-cloak] {
				display: none;!important;
			}
		</style>
	</head>

	<body>
		<div id="Therapeutic_attributes">
			<el-row>
				<el-col :span="24">
					<div class="grid-content bg-purple-light">

						<!--作者：guxiao
                        	时间：2018-08-28
                        	描述：新增精油关联的疗愈属性的选择框和输入框-->
						<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="10px">
							<el-form-item required v-cloak>
								<el-col :span="4" v-if="!window.document.URL.split('=')[2]">
									<el-radio-group v-model="physicalMindFlg" @change="phyMindswitch" size="medium">
										<el-radio-button label="1">生理</el-radio-button>
										<el-radio-button label="2">心理</el-radio-button>
									</el-radio-group>
								</el-col>
								<el-col :span="4">
									<el-form-item prop="healingAttributeId">
										<el-select clearable placeholder="请选择" :data="Therapeuticselect" v-model="ruleForm.healingAttributeId" @visible-change="healingAttribute">
											<el-option v-for="item in Therapeuticselect" v-model="item.id" :key="item.healingAttributeId" :label="item.chineseName" :value="item.healingAttributeId">
											</el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="3">
									<el-form-item prop="orderNumber">
										<el-input v-model="ruleForm.orderNumber" placeholder="请输入显示序号" :maxlength="2"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="4">
									<el-select clearable placeholder="请选择" :data="selectpublicMaster" v-model="recommendLeveladd">
									<el-option v-for="item in selectpublicMaster" v-model="item.subId" :key="item.subId" :label="item.subName" :value="item.subId">
									</el-option>
								</el-select>
								</el-col>
								<el-col :span="5">
								<el-input v-model="description" placeholder="请输入补充说明"></el-input>
								</el-col>
								<el-col :span="2">
								<el-button type="primary" icon="el-icon-plus" @click="add()"></el-button>
								</el-col>
							</el-form-item>
						</el-form>
					</div>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<div class="grid-content">

						<!--
                        	作者：guxiao
                        	时间：2018-08-28
                        	描述：精油疗愈属性列表页
                        -->
						<el-table style="width: 100%" class="tb-edit"  border :data="dataTableSource" :header-cell-style="{background:'#eceff5'}" highlight-current-row @row-click="handleCurrentChange">
							<el-table-column type="index" label="序号"></el-table-column>
							<!--
                                	作者：guxiao
                                	时间：2018-08-28
                                	描述：表格内编辑完就保存
                                -->
							<el-table-column prop="healingAttributeId" label="疗愈属性ID" sortable width="120"></el-table-column>
							<el-table-column prop="orderNumber" label="显示顺序" sortable width="120">
								<template scope="scope">
									<el-input size="small" v-model="scope.row.orderNumber" @change="handleEdit(scope.$index, scope.row)" :maxlength="2"></el-input>
									<span>{{scope.row.orderNumber}}</span>
								</template>
							</el-table-column>
							<el-table-column prop="chineseName" label="中文名"></el-table-column>
							<el-table-column prop="englishName" label="英文名"></el-table-column>
							<el-table-column label="补充说明">
								<template scope="scope">
									<el-input size="small" v-model="scope.row.description" @change="handleEdit(scope.$index, scope.row)"></el-input>
									<span>{{scope.row.description}}</span>
								</template>
							</el-table-column>
							<el-table-column prop="physicalMindFlg" label="属性标志" sortable  :formatter="formatRole"> </el-table-column>
							<el-table-column label="星级推荐">
								<template scope="scope">
									<el-select clearable placeholder="请选择" :data="selectpublicMaster" v-model="recommendLevel" @change="handleEdit(scope.$index, scope.row)">
										<el-option v-for="item in selectpublicMaster" v-model="item.subId" :key="item.subId" :label="item.subName" :value="item.subId">
										</el-option>
									</el-select>
									<span class="diess">{{scope.row.recommendLevelName}}</span>
								</template>
							</el-table-column>
							<el-table-column label="操作">
								<template scope="scope">
									<el-button type="danger" icon="el-icon-delete" size="small" @click="deleteRow(scope.$index, scope.row)">删除</el-button>
								</template>
							</el-table-column>
						</el-table>
					</div>
				</el-col>
			</el-row>
		</div>

		<script src="../scripts/vue.min.js"></script>
		<script src="../scripts/element-ui.min.js"></script>
		<script src="../scripts/jquery-2.1.4.js"></script>
		<script src="../scripts/axios.min.js"></script>
		<script src="../scripts/Therapeutic_attributes.js"></script>
		<script src="../scripts/main.js"></script>
		<script src="../scripts/vee-validate.js"></script>
		<script src="../scripts/zh_CN.js"></script>
	</body>

</html>